body {
    font-family: 'Poppins', sans-serif;
}

#HomeImage {
    width: 100%;
    height: 80%;
}

.HomeText {
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
}

.FrontTextOne {
    font-size: 50px;
}

.link-button {
    background-color: orangered;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 40px;
}

.DonateBar {
    margin-top: 60px;
    display: block;
    text-align: center;
}

.MoneyBox {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    padding-left: 22%;
}

.MoneyBox>div {
    margin: 20px;
    background-color: gray;
    padding: 30px;
}

input {
    text-align: center;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    margin-top: 150px;
    width: 30%;
    margin-bottom: 20px;
}

.DonatePlanBar {
    display: block;
    margin-top: 60px;
    text-align: center;
}

.StrategyBox {
    display: flex;
    text-align: justify;
    font-size: 10px;
}

.StrategyBox>div {
    margin: 10px;
    background-color: gray;
}

.StrategyTitle {
    font-weight: 700;
    font-size: large;
}